html, body, #root
  width: 100%
  height: 100%
  margin: 0
  padding: 0

html
  background: #52D2D6

#root
  display: flex
  justify-content: center
  font-family: sans-serif
  overflow: scroll
  overflow-x: hidden

.card-container
  height: 100%
  display: flex
  flex-direction: column
  padding: 4em
  box-sizing: border-box
  align-items: center
  max-width: 40em

.card-wrapper
  display: block
  background: white
  padding: 1em
  border-radius: 4px
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1)
  margin-bottom: 2em
  width: 100%
  box-sizing: border-box

  &:hover
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)

  .card
    width: 100%
    display: flex
    align-items: center

    &.vertical
      flex-direction: column

.keyword-list
  display: flex
  flex-shrink: 0
  width: 100%
  justify-content: flex-start
  flex-wrap: wrap
  margin-bottom: 1em

  .card-wrapper
    margin-bottom: 1em
    margin-right: 1em
    width: auto

    &:last-child
      margin-right: 0

    i
      margin-left: .5em
      cursor: pointer

.reddit-card-wrapper
  display: flex
  width: 100%
  flex-shrink: 0

.reddit-container
  width: 100%
  display: flex
  flex-direction: column
  align-items: flex-start

  .reddit-header
    width: 100%
    display: flex
    justify-content: space-between
    margin-bottom: .5em

    .author
      font-weight: bold
      color: #2B7BB9

    .points
      font-size: .9em
      color: #666

  .highlight
    background-color: #ffd54f

  .reddit-footer
    width: 100%
    display: flex
    justify-content: space-between
    align-items: flex-end
    margin-top: .5em

    .subreddit
      font-size: .9em
      color: #666

    .logo
      width: 4em
      height: 1.5em
      background-size: contain
      background-repeat: no-repeat
      background-position: right bottom

      &.twitter
        background-image: url(../img/twitter.png)

      &.reddit
        background-image: url(../img/reddit.png)

.keyword-container
  display: flex
  flex-shrink: 0
  width: 100%
  justify-content: flex-start
  flex-wrap: wrap
  margin-bottom: -1em

  .card-wrapper
    margin-bottom: 1em
    margin-right: 1em
    width: auto

    &:last-child
      margin-right: 0

    i
      margin-left: .5em
      cursor: pointer

.chart-wrapper
  width: 100%
  display: flex
  padding: 1em

.loading-container
  width: 100%
  display: flex
  justify-content: center

.search-container
  width: 100%
  display: flex
  align-items: center

  .logo
    background-image: url(../img/logo.png)
    width: 3em
    height: 3em
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    margin-right: 1em

  input
    flex: 1
    display: block
    border: none
    outline: none
    font-size: 2em

  i
    margin-left: 1em
    box-sizing: border-box
    font-size: 2em
    cursor: pointer
    margin-right: .5em

.EmbeddedTweet
  border: none !important

.reddit-card
  color: #000000
  text-decoration: none

#progress
  position: absolute
  height: 8px
  background: #439BCE
  opacity: 0
  top: 0
  transition: .5s ease-in-out

a:link
  color: #000000
  text-decoration: none

a:visited
  color: #000000
  text-decoration: none

::-webkit-scrollbar
  width: 0
  background: transparent

::-webkit-scrollbar-thumb
  background: #FF0000