$primary-color: #bb5760
$secondary-color: #eb6e7b
$tertiary-color: #52D2D6

html, body, #root
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  overflow: scroll

#root
  background: $tertiary-color
  display: flex
  justify-content: center
  font-family: sans-serif

.card-container
  height: 100%
  display: flex
  flex-direction: column
  padding: 4em
  box-sizing: border-box
  align-items: center
  max-width: 40em

.card-wrapper
  display: block
  background: white
  padding: 1em
  border-radius: 4px
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1)
  margin-bottom: 2em
  width: 100%
  box-sizing: border-box

  &:hover
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)

  .card
    width: 100%
    display: flex
    align-items: center

    &.vertical
      flex-direction: column

.keyword-list
  display: flex
  flex-shrink: 0
  width: 100%
  justify-content: flex-start
  flex-wrap: wrap

  .card-wrapper
    margin-right: 1em
    width: auto

    &:last-child
      margin-right: 0

    i
      margin-left: .5em
      cursor: pointer

.chart-wrapper
  width: 100%
  display: flex
  padding: 1em

.loading-container
  width: 100%
  display: flex
  justify-content: center

.search-container
  width: 100%
  display: flex
  align-items: center
  padding: 1em

  input
    flex: 1
    display: block
    border: none
    outline: none
    font-size: 2em

  i
    margin-left: .5em
    box-sizing: border-box
    font-size: 2em
    cursor: pointer

.EmbeddedTweet
  border: none !important

.reddit-card
  color: #000000
  text-decoration: none

a:link
  color: #000000
  text-decoration: none

a:visited
  color: #000000
  text-decoration: none